<div class="header">
  <div class="logo_header">
    <img src="/images/logoXR.png" alt="img">
  </div>
  <div class="navigation_header">
    <ul class="menu1">
      <li><a href="/profile/{{id}}">
          <p> {{username}}</p><img src="/images/avatar.svg" alt="img">
        </a></li>
    </ul>
    <div class="menu-btn">
      <img src="/images/menu.svg">
    </div>
  </div>
</div>
<div class="sidebar">
  <ul class="menu" id="menu" role="menu">
    <li><a class="a" href="/suport/disputes"><img src="/images/orders.svg"> All
        Disputes</a></li>
    <li><a class="a" href="/suport/mydisputes"><img src="/images/chat.svg"> My
        Disputes</a></li>
    <li><a class="a" href="/logout"><img src="/images/logout.svg"> Logout</a></li>
  </ul>
</div>

<script src="/js/menu.js"></script>